[Unit]
Description=Auto Start
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/run_config

[Install]
WantedBy=multi-user.target
