[Unit]
Description=Run startup commands
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/startup_commands.sh

[Install]
WantedBy=multi-user.target